<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <title>Final Assessment</title>
</head>

<body>

<div id="page">

    <div id="header">
        <h1>Star Wars, Episode V</h1>
        <h1>The Empire Strikes Back</h1>
    </div>

    <div id="content">

        <div class="content_instance_big">
            <h2>The Characters of Star Wars, Episode 5</h2>
            <br>
            <div class="name" th:each="characterNames : ${characterNames}">
                <a th:href="@{/characterdetails/} + ${characterNames}">
                    <p th:text="${characterNames}">Name</p>
                </a>
            </div>
        </div>

    </div>

</div>

</body>
</html>
